body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 5em;
    color: #437066;
    margin: 0 0 400px;
    font-family: "Alegreya", serif;
    position: relative;
    left: 150px;
}

p {
    color: #000000;
    margin: 0 0 100px;
    font-size: 1.2em;
    font-family: "Playfair Display", serif;
    position: relative;
    right: 35px;
}

form {
    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    background-color: #437066;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Playfair Display", serif;
    position: relative;
    right: 190px;
    top: 30px;
}

button[type="submit"]:hover {
    background-color: #2b534a;
}

.hidden-field {
    display: none;
}


.home_button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: 500px;
    left: 20px;
}


.home_button img {
    width: 7vh;
    height: 7vh;
}