@font-face {
    font-family: Lao;
    src: url(Fonts/lao-muang-don/LaoMuangDon-Regular.ttf);
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;

}

html, body{
    overflow-x: hidden !important;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #d9d9d9;
}

.wrapper{
    display: flex;

}
#sidebar{
    width: 5.7vw;
    min-height: 100%;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #437066;
    position: fixed;
    border-right: solid #090707 0.2px;}

    #sidebar.expand{
        width: 260px;
        min-width: 260px;
    }

    #toggle-btn{
    background-color: transparent;
        cursor: pointer;
        border: 0;
        padding: 1vw 1vw;
        margin-right: 0.75rem;
    }

    #toggle-btn i{
        font-size : 1.5rem;
        color: #e0f2f5;
    }

    .sidebar-logo{
        margin:auto ;


    }

    .sidebar-logo a{
        color: #e0f2f5;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration:none;
    }

    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link span{
        display: none;
    }

    .sidebar-nav{
        padding: 2rem 0;
        flex: 1 1 auto;
    }

    a.sidebar-link{
        padding: 0.625vw 1vw ;
        color: #e0f2f5;
        display: block;
        font-size: 0.9rem;
        white-space: nowrap;
        border-left: 3px solid transparent;
        text-decoration: none;
    }
    .sidebar-link i{
        font-size: 1.1rem;
        margin-right: .75rem;
    }
    a.sidebar-link:hover{
        border-left: 2px solid #3586ff;


    }

    .sidebar-item{
        position: relative;

    }

    #sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
        position: absolute;
        top: 0;
        left: 70px;
        background-color: #437066;
        padding: 0;
        min-width: 15rem;
        display: none;


    }

    #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
        display: block;
        max-height: 15em;
        width: 100%;
        opacity: 1;

    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
        border: solid;
        border-width: 0 .075rem  .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position:absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }


    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
    position: absolute;
    top: 20%;
    }

    @media screen and (max-width: 768px) { /* Ajuste o valor conforme necessário */
        #sidebar {
            width: 30px;
        }
        #sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
            left: 30px;
        }
    }




    footer{
        position: absolute;
        width: 100%;
        height: 25%;
        background: #437066;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 20px 50px;
    }

    footer .social_icon,
    footer .menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        flex-wrap: wrap;
    }

    footer .social_icon li,
    footer .menu li{
        list-style: none;
    }

    footer .social_icon li a{
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }

    footer .social_icon li a:hover{
        transform: translateY(-10px);
    }

    footer .menu li a{
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.75;
    }

    footer .menu li a:hover{
        opacity: 1;
    }


.Logo {
    position: absolute;
    right: 1vh;
}

.ClareDTe{
    position: relative;
    margin-top: -50%;
    left: 13%;
    top: 50%;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 3.8vw;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.05em #333;

}

.Card {
    position: relative;
    left: 8%;
    top: 30vw;
    z-index: 1;
    border: solid #090707;
    width: auto;
    height: 17vw;
}

.NovoPaciente{
    display: flex;
    height: 60vw;
    background-color: #437066;
    z-index: -100;

    }






.Oferecidos{
    display: flex;

    justify-content: center;
    align-items: flex-end ;
    background-color: #d9d9d9;
    position:relative;
    padding-bottom: 60px;
    }

.Opções{
    border: solid #090707;
    border-radius: 2%;
    position: relative;
    width: auto;
    height: 40vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    right: 10%;
    margin-bottom: 10vw;
}

.Grande3213{
    width: 100%;
    height: auto;
    z-index: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2vw;

}

    .tudin{
        display: flex;
        justify-content: space-between;

    }

.quadradosn{
    position: relative;
    top: 60%;
    margin-left: 8vw;
    border: 5px ;
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 16.3vw;
    border-radius: 8px;
    color: #fff;


}
.quadradosn h1{
    position: relative;
    font-size: 2vw;
    font-family: "Alegreya", serif;


}

.quadradosn p{
    font-size: 1.5vw;
    font-family: "Playfair Display", serif;
}


.quadradosn2{
    position: relative;
    top: 60%;
    margin-left: 7vw;
    border: 5px rgb(158, 139, 139);
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 16.5vw;
    border-radius: 8px;
    color: #fff;


}


.quadradosn2 h1{
    position: relative;
    font-size: 2vw;
    font-family: "Alegreya", serif;
}

.quadradosn2 p{
    font-family: "Playfair Display", serif;
    font-size: 1.5vw;
}

.quadradosn3{
    position: relative;
    top: 60%;
    margin-left: 7vw;
    border: 5px  white;
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 16.5vw;
    border-radius: 8px;
    color: #fff;
}

.quadradosn3 h1{
    position: relative;
    font-size: 2vw;
    font-family: "Alegreya", serif;
}

.quadradosn3 p{
    font-family: "Playfair Display", serif;
    font-size: 1.5vw;
}



/* Para navegadores baseados em WebKit, como Chrome */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #437066;
  }

  html ::-webkit-scrollbar-track {
    background: #d9d9d9;
  }



@media screen and (max-width: 768px) {
    footer {
        position: relative; /* Alterar para evitar sobreposição */
        height: auto; /* Deixar a altura dinâmica */
        padding: 20px;
    }

    .Oferecidos {
        flex-direction: column; /* Garantir que o layout se ajuste verticalmente */
        justify-content: center;
        align-items: center;
        padding-bottom: 80px; /* Adicionar espaço extra para o footer */
        margin-left: 20px;
        height: 50%;
    }

}