{% load static %}
{% load i18n %}
{% load allauth %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset_key_done.css' %}">
<title>Redefinir Senha</title>

<header>
    <div class="home_button">
        <a href="{% url 'home' %}">
            <button>
                <img src="{% static 'imgs/arrow.png' %}" alt="Home" />
            </button>
        </a>
    </div>  
</header>

    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
{% endblock content %}
