{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset_done.css' %}">
<title>Redefinir Senha</title>

<header>
    <div class="home_button">
        <a href="{% url 'home' %}">
            <button>
                <img src="{% static 'imgs/arrow.png' %}" alt="Home" />
            </button>
        </a>
    </div>  
</header>

    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}Enviamos um e-mail para você. Se você não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber.{% endblocktrans %}
    {% endelement %}
{% endblock content %}